.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("Grass.jpg");
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:rgb(139, 34, 99);
}


#hd3{
	display: inline-block;
	color: rgb(146, 143, 143);
	background-color: aliceblue;
	font-family: fantasy;
}

